@mixin adjust-size {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-justify($j) {
  @include flex-center;
  justify-content: $j;
}

@mixin flex-align($a) {
  @include flex-center;
  align-items: $a;
}

@mixin flex-center-col {
  @include flex-center;
  flex-direction: column;
}

@mixin black-glass {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 8px 32px 0 rgba(#000, 1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

@mixin border {
  border: solid 1px var(--borderColor);
}
