$navHeight: 50px;
$sidebarWidth: 350px;

// colors
//$pinkAccent: rgba(254, 44, 85, 1);
$pinkAccent: var(--accentColor);
$accentColor:var(--accentColor);
$bg: #fff;
$fontColor: #0e0e0e;
$shadowBg: rgba(222, 222, 222, 0.2);
$darkAccent: #0e0e0e;

//dark colors variations
$dkBg: #000;
$dkFontColor: #fff;

//social media colors
$twitter: #00acee;
$facebook: #3b5998;
$google: #db4437;


//font sizes
$fontNm: 1.1rem;
$fontSm: 0.8rem;
$fontLg: 1.3rem;
$fontXl: 1.5rem;
$font2xl: 2rem;
