$navHeight: 50px;
$sidebarWidth: 350px;

// colors
$pinkAccent: rgba(254, 44, 85, 1);
$bg: #fff;
$fontColor: #0e0e0e;
$shadowBg: rgba(222, 222, 222, 0.2);
$darkAccent: #0e0e0e;

//dark colors variations
$dkBg: #000;
$dkFontColor: #fff;

//social media colors
$twitter: #00acee;
$facebook: #3b5998;
$google: #db4437;
