@import "utils";
@import "vars";
@import "animations";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: JetBrains Mono;
  color: var(--fontColor);
}

@font-face {
  font-family: JetBrains Mono;
  src: url("../fonts/JetBrainsMonoNL-Regular.ttf");
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
  &::placeholder{
    user-select:none;
  }
}

main {
  display: flex;
  @include adjust-size;
}

button {
  border: none;
  cursor: pointer;
}

// light theme
:root {
  --bg: #{$bg};
  --fontColor: #{$lightFontColor};
  --shadowBg: #{$shadowBgLight};
  --pinkAccent: #{$pinkAccent};
  --borderColor: #{$shadowBgLight};
  --accentColor: #{$pinkAccent};
  --backgroundAccent: #{$darkAccent};
}

// dark theme
[data-theme="#000"] {
  --bg: #{$dkBg};
  --fontColor: #{$dkFontColor};
  --backgroundAccent:#{$darkAccent};
}

// dracula theme
[data-theme="#282a36"] {
  --bg: #{$draculaBg};
  --fontColor:#{$draculaFontColor};
  --shadowBg: #{$draculaAccent};
  --backgroundAccent:#{$draculaAccent};
}

//gruvbox dark
[data-theme="#282828"] {
  --bg: #{$gruvboxDarkBg};
  --fontColor:#{$gruvboxDarkFontColor};
  --shadowBg:#{$gruvboxDarkShadowBg};
  --backgroundAccent:#{$gruvboxDarkShadowBg};
}

//gruvbox light
[data-theme="#fbf1c7"] {
  --bg: #{$gruvboxLightBg};
}



ul {
  list-style: none;

  li {
    cursor: pointer;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
