@import "vars";
@import "utils";

$ulHeight: 83%;

.livesContainer {
  overflow: hidden;

  .livesHeader {
    width: 100%;
    height: 400px;
    @include flex-center;

    .mainLive {
      width: 80%;
      height: 100%;
      @include border;
    }
  }

  .livesList {
    width: 100%;
    height: 350px;
    padding: 10px;
    border-radius: 5px;
    @include flex-justify(space-between);
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;

    .listController {
      position: absolute;
      height: $ulHeight;
      bottom: 0;
      width: 40px;
      background: rgba(0, 0, 0, 0.3);

      path,
      svg {
        width: 20px;
      }

      &:hover {
        background: $backgroundColor;
      }
    }

    .listController:nth-of-type(1) {
      right: 0;
    }

    .livesListTitle {
      text-transform: uppercase;
      height: 2rem;
      font-size: 2rem;
    }

    .livesUl {
      height: $ulHeight;
      @include flex-justify(flex-start);
      width: 100%;
      overflow: auto;
      padding-left: 50px;
      padding-right: 50px;
      & > :not(:first-child) {
        margin-left: 20px;
      }

      li {
        height: 100%;
        .liveThumbnail {
          width: 350px;
          height: 100%;
          @include border;
          transition: border 200ms ease;
          cursor: default;
          &:hover {
            border: solid 1px $accentColor;
          }

          .thumbnail {
            width: 100%;
            height: 70%;
            background: $accentColor;
          }

          .liveInfo {
            width: 100%;
            height: 30%;
            padding: 10px;
            display: block;

            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.singleLive {
  .livePlayer {
    width: 100%;
    height: 600px;
    border: solid 1px $accentColor;
    @include flex-center;
    position: relative;
    video {
      object-fit: contain;
      height: 598px;
    }

    .livePlayerController {
      @include flex-justify(flex-start);
      width: 100%;
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      padding: 5px;

      button {
        background: none;
        margin-left: 10px;
        svg,
        path {
          width: 30px;
          background: none;
          color: $accentColor;
        }
      }
    }
  }

  .livePlayerInfo {
    @include flex-center-col;
    align-items: flex-start;
    border: solid 1px $accentColor;
    border-top: none;
    background: $backgroundColor;
    & > * {
      padding: 10px;
    }
    .livePlayerMetaData {
      width: 100%;
      @include flex-justify(space-between);
    }
    .livePlayerStreamerMetaData {
      width: 100%;
      height: 500px;
    }
  }
}
