@import "utils";
@import "vars";

.nav {
  width: 100%;
  height: $navHeight;
  @include flex-justify(space-around);
  border-bottom: 1px solid var(--borderColor);
  position: fixed;
  background: var(--bg);
  z-index: 9999;
  user-select: none;
  @include black-glass;
  ul {
    @include adjust-size;
    width: 100%;
    height: 100%;
    padding: 5px;
    @include flex-justify(space-between);

    & > * {
      @include flex-center;
      height: 100%;
    }

    .logoContainer {
      width: 200px;
      cursor: pointer;
      user-select: none;
    }

    .searchContainer {
      width: 400px;
      padding-left: 5px;
      padding-right: 5px;

      input {
        width: 100%;
        height: 100%;
        background: $shadowBg;
        border-radius: 20px;
        padding: 10px;
        color: var(--fontColor);
      }
    }

    .authContainer {
      width: 250px;

      @include flex-center;
    }

    .authContainer[data-auth="notauthenticated"] {
      & > * {
        transition: all 0.2s ease-out;
      }

      & > :first-child {
        margin-right: 5px;
        background: none;

        &:hover {
          background: $shadowBg;
        }
      }
      & > :nth-child(2) {
        margin-left: 5px;
        background: $pinkAccent;
        color: #fff;

        &:hover {
          color: $shadowBg;
        }
      }

      a {
        height: 90%;
        width: 80px;
        border-radius: 10px;
        @include flex-center;
      }
    }

    .authContainer[data-auth="authenticated"] {
      .picture {
        @include flex-center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: $accentColor;
      }
      p {
        margin-left: 10px;
      }
      .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: flex;
        margin-left: 10px;
      }
      .status[data-status="online"] {
        background: green;
      }
      .status[data-status="offline"] {
        background: red;
      }
      .status[data-status="away"] {
        background: orange;
      }
      position: relative;
      .authOptions {
        width: 300px;
        height: 400px;
        background: var(--bg);
        position: absolute;
        right: 0;
        top: calc(#{$navHeight} + 0px);
        @include border;
        @include black-glass;
        border-radius: 5px;
        @include flex-center-col;
        & > :not(:first-child) {
          margin-top: 20px;
        }

        li {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          @include flex-justify(flex-start);
          padding: 20px;
          .icon {
            max-width: 30px;
          }

          & * {
            transition: all 0.2s ease;
          }

          p {
            width: 100px;
          }

          &:hover {
            background: $shadowBg;

            & * {
              color: $pinkAccent;
            }
          }
        }
      }
    }
  }
}
