@import "utils";
@import "vars";

.postsContainer {
  max-width: 100%;
  min-height: 100%;
  columns: 250px auto;
  column-gap: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  .post {
    width: 240px;
    break-inside: avoid;
    margin-bottom: 1em;
    border-radius: 10px;
    animation: appear 0.5s linear forwards;
    position: relative;
    @include flex-center;
    overflow: hidden;
    cursor: pointer;

    img {
      object-fit: contain;
      width: 240px;
      transition: all 0.2s ease;
    }

    span {
      position: absolute;
      bottom: 0;
      padding: 5px;
      width: 100%;
      opacity: 0;
      @include flex-justify(space-between);
      cursor: default;
      p {
        &:hover {
          text-decoration: underline;
        }
      }

      button {
        background: $pinkAccent;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;

        &:hover {
          color: rgba(#fff, 0.8);
        }
      }
    }

    &:hover {
      img {
        opacity: 0.5;
      }
      span {
        opacity: 1;
        background: rgba($shadowBg, 0.2);
      }
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
    }
  }
}
