@import 'vars';
@import 'utils';

.settingsColorSchemeContainer {
  width: 100%;
  height: 100%;
  position:relative;
  padding:10px;

  h2 {
    text-align:center;
  }

  .backIcon {
    @include settingsBackIcon;
  }
  .colorSchemeContainer {
    width: 100%;
    height: fit-content;
    padding:10px;

    .themePickers {
      width:100%;
      height: 50px;
      @include flex-justify(flex-start);
      margin-top: 10px;
      & >:not(:first-child){
        margin-left : 10px;
      }

      button {
        width: 50px;
        height: 50px;
        border-radius:50%;
      }
    }
  }
}
